{%extends 'adminbase.html'%} {%block title%}information{%endblock%} {%block content%} {% if user.is_superuser %}
<section class="p-4 my-container">

    <div class="p-3 mb-2 bg-primary text-white container-fluid">
        <h3>Total Packages: {{ post_count }}</h3>
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thread class="thread-dark">
            <tr>

                <th>title</th>
                <th>days</th>
                <th>price</th>
                <th>Size</th>
                <th>Hoster</th>
                <th>Accomodation</th>
                <th>Provinces</th>
                <th>Actions</th>
            </tr>
        </thread>
        {% csrf_token %} {% for result in Packages %}
        <tr>

            <td>{{result.title}}</td>
            <td>{{result.days}}</td>
            <td>{{result.price}}</td>
            <td>{{result.Size}}</td>
            <td>{{result.Hoster}}</td>
            <td>{{result.Accomodation}}</td>
            <td>{{result.Provinces}}</td>
            <td><a href=""><span class="btn btn-success">Edit</span></a>
                <a href=""><span class="btn btn-danger">Delete</span></a></td>
        </tr>
        {% endfor %}
    </table>
    {%else%} U SHALL NOT PASS{%endif%}
</section>
{%endblock%}