<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {%load static%}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% load static%}


    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
</head>
<title>{%block title%} {%endblock%}</title>

<body>
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
        <a href="#" class="navbar-brand text-light mt-5">
            <div class="display-5 font-weight-light pl-4">DashBoard</div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">

            <a href="#" class="nav-link text-light pl-4"> Profile: {{request.user}}</a>
            <li class="nav-item w-100">
                <a href="{%url 'ad_homeView'%}" class="nav-link text-light pl-4">Dash</a>
            </li>


            <li class="nav-item dropdown w-100">
                <a href="#" class="nav-link dropdown-toggle text-light pl-4" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Info</a>
                <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                    <li><a href="{%url 'infoView'%}" class="dropdown-item text-light pl-4 p-2">Info</a></li>
                    <li><a href="{%url 'enrolled'%}" class="dropdown-item text-light pl-4 p-2">Enrolled</a></li>
                    <li><a href="{%url 'PackView'%}" class="dropdown-item text-light pl-4 p-2">Packages</a></li>
                    <li><a href="{%url 'user_csv'%}" class="dropdown-item text-light pl-4 p-2">User CSV File</a></li>
                    <li><a href="{%url 'enroll_csv'%}" class="dropdown-item text-light pl-4 p-2">Enrolled CSV File</a></li>
                    <li><a href="{%url 'user_pdf'%}" class="dropdown-item text-light pl-4 p-2">User Pdf File</a></li>
                </ul>
            </li>
            <li class="nav-item w-100">
                <a href="{%url 'homepage'%}" class="nav-link text-light pl-4">Home</a>
            </li>
            <li class="nav-item w-100">
                <a href="{%url 'logout'%}" class="nav-link text-light pl-4">Logout</a>
            </li>

        </ul>
    </nav>

    <section class="p-4 my-container">
        <button class="btn my-4" id="menu-btn">DashBoard</button> {%block content%} {%endblock%}

    </section>
    <!-- custom js -->
    <script>
        var menu_btn = document.querySelector("#menu-btn")
        var sidebar = document.querySelector("#sidebar")
        var container = document.querySelector(".my-container")
        menu_btn.addEventListener("click", () => {
            sidebar.classList.toggle("active-nav")
            container.classList.toggle("active-cont")
        })
    </script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>

</body>

</html>