<h1>Add a Comment</h1>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <br/><br/>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Add your comment</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg">Submit</button>
