{%extends 'base.html'%} {%block title%}Home{%endblock%} {%block content%} {% load static%}

<section class=" container">

    <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 60px; text-align:center">&mdash; Packages&mdash; </h3>
    {% for post in object_list %}
    <div class="container " style="box-shadow: 0 2px 4px rgba(1, 36, 43, 0.4), 0 -1px 2px rgb(3 54 63 / 4%); border-radius: 20px; background-color: white; padding:40px;">

        <p style=" font-size: 15px;">
            {% if post.pack_img%}
            <img src=" {{post.pack_img.url }} " width="400px "><br> {%endif%}
            <b><a href="{% url 'pack_detailView' post.pk %} ">{{post.title}}</a></b>
            <br> Description: A Trip to {{post.title}}, for {{post.days}} days | <a href="{% url 'pack_detailView' post.pk %} ">Read more...</a>

            <br> Days: <b>{{post.days}}</b>
            <br> <b>Price: Rs. {{post.price}}</b>
            <br> <b>Province:  {{post.Provinces}}</b>
            <br><b>Hoster:</b> {{post.Hoster}}
            <br><b>Where you'll Stay:</b> {{post.Accomodation}}
            <br><b>Operated in:</b> English
            <br/>


        </p>

    </div><br/><br/>{% endfor%}


</section>

{%endblock%}