{%extends 'base.html'%} {%block title%}Home{%endblock%} {%block content%} {% load static%}

<!-- WORK HERE -->


</section>

<!-- header section ends -->


<div class="heading" style="background:url(images/season.jpg) no-repeat">
   <h1>Seasons in Nepal</h1>
</div>

<section class="about">

 <div class="image">
    <img src="images/summer.jpg" alt="">
 </div>

 <div class="content">
    <h3>1. Summer Season</h3>
    <p> Summer in Nepal starts from early April to late July and the average temperature of different geographical regions is significantly different, Terai region (low land) experiences extreme hot whereas hills and mountains are moderate. Rainfall occurs during this season especially in June and July so natural disasters like flood; landslides sometimes block the ways of travellers and may even take the lives. So this is not a good time to travel, especially trekking is more dangerous and view is clouded most of the times.</p>
 </div>
 </section>

 <section class="about">

    <div class="image">
       <img src="images/autumn.jpg" alt="">
    </div>
 
    <div class="content">
       <h3>2. Autumn Season</h3>
       <p> It is a pleasant season which starts from late August to early November, during this period summer is over and winter is yet to come so, the climate is neither too hot nor too cold. Also, people observe festivals like Dashain and Tihar and there are public holidays too, so travelling is easy and interactive with internal tourist as well. In our list, autumn is a better season to travel in Nepal.</p>
    </div>
    </section>

    <section class="about">

       <div class="image">
          <img src="images/winter.jpg" alt="">
       </div>
    
       <div class="content">
          <h3>3. Winter Season</h3>
          <p> Winter starts from late November to early march in Nepal, during this season there is no danger regarding natural disasters whereas freezing cold especially in mountainous region may not render expected sights. Trekking routes are blocked with thick snow and lakes like Tilicho completely freeze. View of mountains is clear and so is blue sky. As per our recommendation winter is only a good time to travel around Nepal.</p>
       </div>
       </section>

       <section class="about">

          <div class="image">
             <img src="images/spring.jpg" alt="">
          </div>
       
          <div class="content">
             <h3>4. Spring Season</h3>
             <p> Nepal welcomes spring from late February to late march, winter bids goodbye and summer is yet to come during this time. Deciduous plants begin to sprout their green leaves and exorbitant flowers blossom and especially eclectic species of Rhododendron adds exquisite color to the trekking routes. View is clear and air is dry yet pleasing during this time. In our list spring remains the best time to visit this wonderful Himalayan country.</p>
          </div>
          </section>



<!--  --------------  -->

{%endblock%}