{%extends 'registration/base.html'%} {%block title%}Edit profile{%endblock%} {%block content%} {% load static%}

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="w-25 p-5 container " style="box-shadow: 0 2px 4px rgba(1, 36, 43, 0.4), 0 -1px 2px rgb(3 54 63 / 4%); border-radius: 20px; background-color: white;">
    <h1 style="text-align: center;"> Edit Profile</h1>
    <br>
    <form class="login" method="POST">
        {%csrf_token%} {{form.as_p}}
        <br>
        <div class="text-center">
            <button class="btn btn-primary">Update Password</button>
        </div>

    </form>


    </form>
</div>

{%endblock%}